<div class="swiper-container" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide card">
      <img src="../../../assets/img/banco-santander-logo.svg" alt="Banco Santander Logo">

      <div class="card-conteudo">
        <p class="descricao">O banco espanhol utiliza Angular para seu internet banking e outros sistemas de gestão interna.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/forbes-logo.svg" alt="Forbes Logo">

      <div class="card-conteudo">
        <p class="descricao">O site de notícias financeiras Forbes utiliza Angular para seu front-end, ajudando a gerenciar o grande volume de conteúdo.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/google-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">Criadora do Angular, a empresa usa o framework em várias de suas aplicações internas e externas, incluindo o Google Cloud.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/microsoft-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">Utiliza Angular em diversos projetos de software, como o Microsoft Office Online e ferramentas na Azure Cloud..</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/paypal-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">A gigante de pagamentos online usa Angular em sua plataforma para proporcionar uma experiência de usuário responsiva.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/samsung-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">A gigante de tecnologia usa Angular em vários projetos, incluindo ferramentas de gestão de dispositivos e interfaces de produtos.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/the-guardian-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">O site britânico de notícias utiliza Angular para melhorar a interatividade e a experiência do usuário em sua plataforma digital.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/upwork-logo.svg" alt="Google Logo">

      <div class="card-conteudo">
        <p class="descricao">A maior plataforma de freelancers do mundo utiliza Angular para sua interface do usuário.</p>
      </div>
    </div>
  </div>
</div>
