<div class="swiper-container" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide card">
      <img src="../../../assets/img/banco-santander-logo.svg" alt="Banco Santander Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Banco Santander</h3>
        <p class="descricao">Descrição do Banco Santander.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/forbes-logo.svg" alt="Forbes Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Forbes</h3>
        <p class="descricao">Descrição da Forbes.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/google-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Google</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/microsoft-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Microsof</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/paypal-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Paypal</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/samsung-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">Samsung</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/the-guardian-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">The Guardian</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>

    <div class="swiper-slide card">
      <img src="../../../assets/img/upwork-logo.svg" alt="Google Logo">
      <div class="card-conteudo">
        <h3 class="titulo">UpWork</h3>
        <p class="descricao">Descrição do Google.</p>
      </div>
    </div>
  </div>
</div>
