<app-menu></app-menu>

<section>
  <div class="container">
    <div class="banner">
      <div class="text">
        <h1>Framework Angular</h1>
        <h2>Quando devemos utilizar?</h2>
        <p>Quer saber quando utilizar o framework Angular? Neste site, abordaremos os principais pontos sobre quando e por que usar o Angular, além de apresentar algumas empresas que implementam este poderoso framework em seus negócios.</p>
      </div>

      <img class="logo" src="../../../assets/img/angular-icon.png">
    </div>
  </div>
</section>
