<app-menu></app-menu>

<div class="container">
  <section class="conteudo banner">
    <div class="texto">
      <h1>Framework Angular</h1>
      <span class="subtitulo">Quando devemos utilizar?</span>
      <p>Saiba quando e por que usar o Angular. Neste site, exploraremos seus principais benefícios, empresas que o utilizam, e comparações com outros frameworks como React e Vue, para ajudá-lo a escolher o melhor para o seu projeto.</p>
    </div>

    <img class="logo" src="../../../assets/img/angular-icon.png">
  </section>

  <section class="conteudo sobre">
    <div>
      <h2>Informações sobre o Angular</h2>

      <div class="info">
        <div class="icones">
          <div class="item">
            <ion-icon class="icone" name="logo-google"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="construct-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="layers-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="cube-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="code-slash-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="earth-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="business-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="thumbs-up-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="people-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="hammer-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="reload-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="clipboard-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="business-outline"></ion-icon>
          </div>

          <div class="item">
            <ion-icon class="icone" name="apps-outline"></ion-icon>
          </div>
        </div>

        <div class="textos">
          <div class="item">
            <h3>O que é o Angular?</h3>

            <p>O Angular é um framework de código aberto para o desenvolvimento de aplicações web, criado e mantido pelo Google. Lançado oficialmente em 2016, o Angular surgiu como uma evolução do AngularJS, que foi introduzido em 2010. Diferente de seu antecessor, o Angular foi completamente reescrito, utilizando TypeScript como linguagem principal, o que trouxe melhorias significativas em termos de desempenho, modularidade e facilidade de manutenção.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="conteudo empresas">
    <div>
      <h2>Empresas que utilizam o Angular</h2>

      <app-card></app-card>
    </div>
  </section>

  <section class="caracteristicas">
    <div>
      <h2>Quando utilizar?</h2>

      <div>

      </div>
    </div>
  </section>

  <section class="caracteristicas">
    <div>
      <h2>Diferenças do Angular para o React e o VueJS</h2>

      <div>

      </div>
    </div>
  </section>
</div>
