.container {
  overflow: hidden;

  .banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    .texto {
      width: 50%;

      h1 {
        font-size: 50px;
        margin: 0;
      }

      .subtitulo {
        color: #f037b0;
        font-size: 35px;
      }
    }

    .logo {
      width: 30%;
    }
  }
}
