.container {
  overflow: hidden;

  .banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    .texto {
      width: 50%;

      h1 {
        font-size: 50px;
        font-weight: 600;
        margin: 0;
      }

      .subtitulo {
        color: #f037b0;
        font-size: 35px;
      }
    }

    .logo {
      width: 30%;
    }
  }

  .sobre {
    .info {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .icones {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 50%;

        .item {
          border: 2px solid #414141;
          border-radius: 20px;
          box-shadow: 0 4px 8px rgba(65, 65, 65, 0.3);
          cursor: pointer;
          margin: 0 15px 15px 0;
          padding: 25px;

          .icone {
            align-items: center;
            display: flex;
            font-size: 30px;
            height: 45px;
            justify-content: center;
            width: 45px;
          }

          &:hover {
            border-color: #f037b0;
            box-shadow: 0 6px 12px rgba(240, 55, 176, 0.5);
            transform: translateY(-8px);
            transition: 0.5s ease;
            z-index: 1;

            .icone {
              color: #f037b0;
              transition: color 0.3s ease;
            }
          }
        }
      }

      .textos {
        line-height: 1.5;
        text-align: center;
        width: 50%;

        h3 {
          color: #f037b0;
        }
      }
    }
  }
}
