<app-menu></app-menu>

<div class="container">
  <section class="conteudo banner">
    <div class="texto">
      <h1>Framework Angular</h1>
      <span class="subtitulo">Quando devemos utilizar?</span>
      <p>Saiba quando e por que usar o Angular. Neste site, exploraremos seus principais benefícios, empresas que o utilizam, e comparações com outros frameworks como React e Vue, para ajudá-lo a escolher o melhor para o seu projeto.</p>
    </div>

    <img class="logo" src="../../../assets/img/angular-icon.png">
  </section>

  <section class="conteudo sobre">
    <div>
      <h2>Informações sobre o <span>Angular</span></h2>

      <div class="info">
        <div class="icones">
          <div class="item" *ngFor="let item of itens" (mouseover)="atualizarTexto(item)">
            <i class="icone" [ngClass]="item.icone"></i>
          </div>
        </div>

        <div class="textos">
          <h3>{{tituloAtual}}</h3>
          <p>{{textoAtual}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="conteudo empresas">
    <div>
      <h2>Empresas que utilizam o Angular</h2>

      <app-card></app-card>
    </div>
  </section>

  <section class="caracteristicas">
    <div>
      <h2>Diferenças do Angular para o React e o VueJS</h2>

      <div>

      </div>
    </div>
  </section>
</div>
